{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": [
        "airbnb",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "no-console": ["warn", { "allow": ["warn"] }],
        "no-plusplus": "off",
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "react/jsx-filename-extension": ["error", { "extensions": [".tsx"] }],
        "react/prop-types": "off",
        "@typescript-eslint/type-annotation-spacing": ["error", { "before": true, "after": true }]
    },
    "overrides": [{
        "files": ["*.spec.{ts,tsx}"],
        "rules": {
            "import/no-extraneous-dependencies": "off",
            "@typescript-eslint/explicit-function-return-type": "off",
            "@typescript-eslint/no-explicit-any": "off"
        }
    }],
    "env": {
        "es6": true,
        "browser": true,
        "jest": true
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".ts", ".tsx"]
            }
        }
    }
}
